header {
    background-image: url(../../img/dev-of-today/header.jpg);
}

section.banner.sides {
    background-image: url(../../img/dev-of-today/sides.png  );
}

section.banner.js {
    background-image: url(../../img/dev-of-today/jswizard.jpg);
}

section.banner.css {
    background-image: url(../../img/dev-of-today/cssmagician.jpg);
}

section.banner.front-end {
    background-color: rgb(43, 43, 43);
    background-image: url(../../img/dev-of-today/front-end.png);
}